.container{
    max-width: 200%;
    max-height: 100%;
    margin: 0%;
    background-color: #dddddd;
}

.row {
    width: 100%;
    margin: 100px;
  }
  .block {
    width: 100px;
    float: left;
  }